dodelavky.txt
backup/*
cache/*
!cache/autoupgrade/
galerie/*
letters/config.php
pluginy/*
!pluginy/autoupgrade/
!pluginy/clanky/
!pluginy/komentare/
!pluginy/navigace/
!pluginy/oembed/
!pluginy/soubory/
!pluginy/uzivatele/
!pluginy/vyhledavani/
soubory/*
!souboty/gravatar.jpg
vzhledy/*
!vzhledy/primavera/