html {
  font: 16px 'Signika', 'Trebuchet', sans-serif;
  background-color: #F0F0F0;
}

h1, h2, h3, ul, ol {
	margin: 0;
	padding: 0;
}

li {
  list-style-type: disc;
}

li li {
  list-style-type: circle;
}

a {
  color: #000;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

a img {
  border: 0;
}

blockquote { font-style: italic; }

small { color: #A2A2A2; }

table {
	font-size: 1em;
	border-collapse: collapse;
}

th, td {
  padding: 5px;
  border: 1px solid #F2F2F2;
}

thead th, thead td {
  text-align: center;
  border: 0;
}

form { margin: 1em 0; }

input,
select,
textarea {
  font: 1em 'Signika', 'Trebuchet', sans-serif;
  padding: 2px 3px;
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  box-sizing: border-box;
}

button,
input[type=submit] {
  border-color: #A2A2A2;
  cursor: pointer;
}


/* misc */
.print { display: none; }
.cleaner { clear: both; }

.left { float: left; }
.right { float: right; }
.center { display: block; margin: 0 auto; text-align: center; }

.error { color: red; font-weight: bold; }
.success { color: green; font-weight: bold; }

abbr,
acronym,
.help { cursor: help; border-bottom: 1px dotted; }

img.left { margin: 15px 20px 15px 0; }
img.right { margin: 15px 0 15px 20px; }


#content a { text-decoration: underline; }

article .meta .posted:after,
article .meta .comments:after { content: " / "; }

#content .comment a.posted {
  font-size: 0.8em;
  text-decoration: none;
  vertical-align: top;
}

#content .comment a.reply {
  float: right;
  font-size: 0.8em;
  color: silver;
  text-decoration: none;
}



/*=================
== MEDIA QUERIES ==
=================*/

/* tiskový styl */
@media print {

.print,
#header #search,
#header nav,
#sidebar,
#footer {
  display: none;
}

}


/* úzký displej */
@media only screen and (max-width: 599px) {

/* Header */

body {
  width: 100%;
  margin: 0;
}

#header {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  background: #FFF;
}

#header p {
  display: none;
}

#header #nav-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
}

#header #search-toggle {
  position: absolute;
  top: 5px;
  right: 45px;
}

#header nav {
  margin-top: 10px;
}

#header nav ul li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #F0F0F0;
}

#header #search {
  display: block;
  text-align: center;
}

#search-text, #q {
  width: 75%;
}

/* Content */

#content {
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background: #FFF;
}

/* Posts */

article {
  clear: both;
  margin: 15px 0 25px 0;
}

article h2 {
  margin-bottom: 8px;
}

#content article h2 a {
  text-decoration: none;
}

/* Comments */

.comment {
  margin: 15px 0 25px 0;
  padding-left: 60px;
}

.comment .gravatar {
  float: left;
  margin: 3px 0 0 -60px;
}

#add-comment {
  position: relative;
}

#add-comment input,
#add-comment textarea {
  width: 100%;
}

#add-comment input[type=submit] {
  width: auto;
}

/* Sidebar */

#sidebar {
  margin-bottom: 10px;
  padding: 10px 10px 1px 10px;
  background: #FFF;
}

#sidebar .panel {
  margin-bottom: 20px;
}

#sidebar h3 {
  margin-bottom: 5px;
}

/* Footer */

#footer {
  height: 18px;
  padding: 10px;
  background: #FFF;
}

}


/* běžný displej */
@media only screen and (min-width: 600px) {

body {
  width: auto;
  margin: 0;
  padding: 0 20px 20px 20px;
  background-color: #FFF;
}

/* Header */

#header {
  position: relative;
  height: 150px;
  padding-top: 40px;
}

#header p { margin-top: 5px; }


#header nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -20px;
  padding: 0 20px;
  border: solid #F0F0F0;
  border-width: 1px 0;
}

#header nav ul {
  list-style: none;
}

#header nav li {
  display: inline;
  margin-right: 15px;
}

#header nav li a {
  display: inline-block;
  padding: 14px 10px;
  border: solid #FFF;
  border-width: 2px 0;
}

#header nav li a:focus,
#header nav li a:hover {
  text-decoration: none;
}

#header nav ul li.active a {
  border-color: #F0F0F0;
}


#header form#search {
  display: block;
  position: absolute !important;
  top: 45px;
  right: 20px;
}

#header #search-text {
  width: 150px;
  color: gray;
}

#header #search-submit {
  display: none;
}

/* Content */

#content {
  float: left;
  width: 77%;
  line-height: 1.75;
  padding: 15px 3% 15px 0;
}

#content h1 {
  font-size: 1.5em;
}

#content p {
  text-align: justify;
}

#content a:focus,
#content a:hover {
  text-decoration: none;
}

#content ul {
  margin: 1em 40px;
}

/* Posts */

article {
  clear: both;
  margin-bottom: 45px;
}

#content article h2 a {
  text-decoration: none;
}

#content article h2 a:focus,
#content article h2 a:hover {
  text-decoration: underline;
}

article .meta {
  font-size: 14px;
  margin: 0 0 20px 0;
}

#content article .meta a {
  text-decoration: none;
}

#content article .meta a:hover {
  text-decoration: underline;
}

#content #pagination {
  clear: both;
}

/* Comments */

h2.komentare {
  font-size: 1em;
  text-transform: uppercase;
  margin: 2em 0 1em 0;
}

.comment {
  margin: 10px 0 25px 0;
  padding-left: 70px;
}

.comment .gravatar {
  float: left;
  margin: 7px 0 0 -70px;
}

/* Sidebar */

#sidebar {
  float: right;
  width: 20%;
  font-size: 14px;
  line-height: 1.7;
  padding-bottom: 30px;
}

#sidebar .panel {
  margin: 20px 0 10px 0;
}

#sidebar h3 {
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#sidebar ul {
  margin-top: 0.5em;
}

#sidebar ul ul {
  margin: 0 0 0 15px;
}

#sidebar ul li {
  list-style: none;
}

/* Footer */

#footer {
  font-size: 0.8em;
  width: 100%;
  margin-left: -20px;
  padding: 15px 20px;
  border-top: 1px solid #F0F0F0;
}

}


/* široký displej */
@media only screen and (min-width: 1025px) {

body {
  width: 900px;
  margin: 30px auto;
  padding: 0 30px 20px 30px;
  box-shadow: silver 0 0 15px;
}

/* Header */

#header nav {
  width: 900px;
  margin-left: -30px;
  padding: 0 30px;
}

/* Content */

#content {
  width: 700px;
  padding: 30px 30px 30px 0;
}

/* Sidebar */

#sidebar {
  width: 170px;
}

#sidebar .panel {
  margin: 30px 0 0 0;
}

/* Footer */

#footer {
  width: 900px;
  margin-left: -30px;
  padding: 15px 30px;
}

}